Checks: >
  clang-analyzer-*,
  cppcoreguidelines-*,
  performance-*,
  readability-*,
  modernize-*,
  -modernize-use-trailing-return-type,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-avoid-do-while,
  -cppcoreguidelines-avoid-magic-numbers,
  -readability-magic-numbers,
  -cppcoreguidelines-pro-bounds-constant-array-index,
  -cppcoreguidelines-macro-usage,
  -modernize-use-using,
  -performance-enum-size,
  -readability-function-cognitive-complexity,
  -readability-identifier-length,
  -readability-uppercase-literal-suffix,
  -readability-named-parameter
WarningsAsErrors: "*"
HeaderFilterRegex: "include/omega/.*"
