Checks: >
  clang-analyzer-*,
  cppcoreguidelines-*,
  performance-*,
  readability-*,
  modernize-*,
  -modernize-use-trailing-return-type,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic
WarningsAsErrors: "*"
HeaderFilterRegex: "include/omega/.*"
